.hex-color {
    position: relative;
    display: inline-block;
    text-shadow: 1px 1px 1px #AAA;
}

.hex-color:hover { cursor: help; }

.hex-color span {
    visibility: hidden;
    height: 30px;
    width: 120px;
    top: -5px;
    left: 110%;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #CCC;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

.hex-color:hover span {
  visibility: visible;
  opacity: 1;
}
